.editor {
  margin: 1.5em auto;
  max-width: 960px;

  textarea {
    height: 70px;
    width: 70%;
  }
}

.postAuthor {
  display: inline-block;
  float: left;
  font-weight: bold;
  max-width: 100px;
  padding: 4px;
  text-align: center;
  width: 25%;

  img {
    height: 64px;
    margin-bottom: 10px;
    margin-right: 10px;
    width: 64px;
  }
}

.formInputs {
  float: right;
  width: 70%;

  textarea {
    display: block;
    width: 100%;
  }

  input[type=submit] {
    background: #0D2FFF;
    border: 0;
    color: #FFF;
    float: right;
    height: 20px;
    margin: 15px 0;
    width: 70px;
  }

  .imageField {
    width: 0.1px;
    height: 0.1px;
    opacity: 0;
    overflow: hidden;
    position: absolute;
    z-index: -1;
  }

  .imageField + label {
    color: #0D2FFF;
    cursor: pointer;
    display: inline-block;
    float: right;
    font-size: 11px;
    height: 20px;
    margin: 15px;
    width: 20px;

    img {
      width: 20px;
    }
  }

  .imageField:focus + label,
  .imageField + label:hover {
    background-color: rgba(102, 198, 246, 0.5);
  }
}
